fastapi>=0.68.0,<0.69.0
pydantic>=1.8.0,<2.0.0
uvicorn>=0.15.0,<0.16.0
sqlalchemy==2.0.6
mysqlclient==2.1.0
python-multipart==0.0.6
python-jose[cryptography]==3.3.0
passlib[argon2]==1.7.4
pytest==7.3.1
httpx==0.24.0
requests==2.29.0
pymysql==1.0.3
pdoc>=13.1.1<13.2.0